    :root {
        /* css variables */
        --united-nations-blue: hsl(214, 56%, 58%);
        --bright-navy-blue: hsl(214, 57%, 51%);
        --spanish-gray: hsl(0, 0%, 60%);
        --black-coral: hsl(225, 8%, 42%);
        --oxford-blue: hsl(208, 97%, 12%);
        --yale-blue: hsl(214, 72%, 33%);
        --blue-ncs: hsl(197, 100%, 36%);
        --gunmetal: hsl(206, 34%, 20%);
        --gainsboro: hsl(0, 0%, 88%);
        --cultured: hsl(0, 0%, 98%);
        --white: hsl(0, 0%, 100%);
        --black: hsl(0, 0%, 0%);
        --onyx: hsl(0, 0%, 25%);
        --jet: hsl(0, 0%, 20%);

        --ff-poppins: "Poppins", sans-serif;
        --ff-montserrat: "Montserrat", sans-serif;
    
        --fs-1: calc(20px + 3.5vw);
        --fs-2: calc(18px + 1.6vw);
        --fs-3: calc(16px + 0.45vw);
        --fs-4: 15px;
        --fs-5: 14px;
        --fs-6: 13px;
        --fs-7: 12px;
        --fs-8: 11px;
    
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
        --fw-800: 800;
    
        --transition: 0.25s ease-in-out;
    
        --section-padding: 60px;
    
        --radius-15: 15px;
        --radius-25: 25px;
    
    }
    
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    li { list-style: none; }
    
    a { text-decoration: none; }
    
    a,
    img,
    span,
    input,
    label,
    button,
    ion-icon { display: block; }
    
    input,
    button {
        background: none;
        border: none;
        font: inherit;
    }
    
    button { cursor: pointer; }
    
    input { width: 100%; }
    
    ion-icon { pointer-events: none; }
    
    html {
        font-family: var(--ff-poppins);
        scroll-behavior: smooth;
    }
    
    body { 
        background: white; 
    }

    .container { padding-inline: 15px; }
    
    .btn {
        color: white;
        text-transform: uppercase;
        font-size: var(--fs-5);
        border-radius: 100px;
        padding: var(--padding, 8px 18px);
        border: var(--border-width, 2px) solid transparent;
        transition: var(--transition);
    }
    
    .btn-primary {
        background: gray;
        border-color: gray;
    }
    
    .btn-primary:is(:hover, :focus) {
        background: #184c91;
        border-color: #184c91;
    }
    
    .btn-secondary { border-color: white; }
    
    .btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }
    
    .h1,
    .h2,
    .h3 {
        font-weight: var(--fw-800);
        font-family: var(--ff-montserrat);
        text-transform: uppercase;
    }
    
    .h1 {
        color: white;
        font-size: var(--fs-1);
    }
    
    .h2,
    .h3 { color: rgb(8, 57, 95); }
    
    .h2 { font-size: var(--fs-2); }
    
    .h3 {
        font-size: var(--fs-3);
        font-weight: var(--fw-700);
    }
    
    .section-subtitle {
        color: var(--bright-navy-blue);
        font-size: var(--fs-5);
        text-transform: uppercase;
        font-family: var(--ff-montserrat);
        margin-bottom: 8px;
    }
    
    .section-title { margin-bottom: 15px; }
    
    .section-text {
        color: var(--black-coral);
        margin-bottom: 30px;
    }
    
    .card-text {
        color: var(--black-coral);
        font-size: var(--fs-5);
    }
    

    /* HEADER */

    /* search */

    .srch-form{
        display: flex;
    }
    
    .hero .searchbar{
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
        margin-top: 0;
    }
    
    .srch-form .search-input{
        width: 100px;
        background-color: white;
        height: 50px;
        border: none;
        border-radius: 50px;
        padding-left: 15px;
        outline: none;
        transition: all 1s;
    }

    .srch-form .search-input:hover{
        cursor: pointer;
        width: 300px;
    }

    .srch-form .search-btn{
        color: white;
        height: 50px;
        border: none;
        margin-left: 15px;
    }

    @media screen and (max-width: 620px) {
        .searchbar{
            left: 50%;
            
        }
    }
    /* search */

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 61px;
        z-index: 4;
    }
    
    .header-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: var(--transition);
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
        padding-block: 15px;
        z-index: 1;
    }
    
    .header.active .header-top {
        position: fixed;
        background: var(--gunmetal);
    }
    
    .header-top .container {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-items: flex-start;
        align-items: center;
        justify-content: space-between;
    }

    .header-top .website-name{
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    .header-btn-group {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }
    
    .search-btn,
    .nav-open-btn {
        font-size: 30px;
        color: inherit;
        margin-left: 350px;
        color: white;
    }
    
    .search-btn { font-size: 20px; }
    
    .header-bottom { border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); }
    
    .header-bottom .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;
    }
    
    .social-list {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .social-link {
        color: white;
        padding: 8px;
        border: 1px solid hsla(0, 0%, 100%, 0.3);
        border-radius: 50%;
        font-size: 15px;
        transition: var(--transition);
    }
    
    .social-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }
    
    .header .btn { --padding: 4px 20px; }
    
    .header .navbar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 100%;
        max-width: 300px;
        height: 100%;
        background: white;
        visibility: hidden;
        pointer-events: none;
        transition: 0.15s ease-in;
        z-index: 3;
    }
    
    .navbar.active {
        right: 0;
        visibility: visible;
        pointer-events: all;
        transition: 0.25s ease-out;
    }
    
    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 15px;
    }
    
    .navbar-top .logo img { width: 150px; }
    
    .nav-close-btn {
        font-size: 20px;
        color: #3b79c9;
    }
    
    .nav-close-btn ion-icon { --ionicon-stroke-width: 80px; }
    
    .navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }
    
    .navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }

    .navbar-link {
        padding: 15px 20px;
        color: black;
        font-weight: var(--fw-600);
        font-size: var(--fs-4);
        transition: var(--transition);
        text-transform: capitalize;
    }
    
    .navbar-link:is(:hover, :focus) { color: #3b79c9; }
    
    .overlay {
        position: fixed;
        inset: 0;
        background: black;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
        transition: var(--transition);
    }
    
    .overlay.active {
        opacity: 0.7;
        pointer-events: all;
    }
    

    /* HERO */
    .hero {
        background-image: url(Images/Background-Images/Background1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: hsla(0, 0%, 0%, 0.581);
        background-blend-mode: overlay;
        display: grid;
        place-items: center;
        min-height: 600px;
        height: 800px;
        text-align: center;
        padding-top: 125px;
        
    }
    
    .hero-title { margin-bottom: 20px; }
    
    .hero-text {
        color: white;
        font-size: var(--fs-5);
        margin-bottom: 40px;
    }
    
    .btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    /* Inquiry */

    .cta {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: overlay;
        display: grid;
        place-items: center;
        min-height: 600px;
        text-align: center;
        padding-top: 125px;
    }

    .cta .h2.section-title{
        text-align: center;
        color: rgb(8, 57, 95);
        font-size: 40px;
    }

    .container{
        width: 100%;
    }

    .cta-form1 {
        width: 100%;
        
        padding: 20px;
        box-sizing: border-box;
    }
    
    label {
        display: block;
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .cta-form1 input{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        padding-left: 18px;
        border: 2px solid rgba(0, 0, 0, 0.486);
        box-shadow: 10px gray;
        border-radius: 50px;
        box-sizing: border-box;
    }
    
    .cta-form1 .input-field::placeholder { color: var(--spanish-gray); }
    
    .cta-form1 .input-field::-webkit-datetime-edit {
        color: var(--spanish-gray);
        text-transform: uppercase;
    }
    
    .cta-form1 .cta-input { margin-bottom: 15px; }
    
    .cta .cta-form1 .btn-q {
        width: 200px;
        font-weight: var(--fw-600);
        margin: 0 auto;
        height: 55px;
        color: rgb(255, 255, 255);
        background-color: #808080;
        border: none;
        border-radius: 50px;
    }
    
    .cta .cta-form1 .btn-q:hover{
        background-color: rgb(8, 57, 95);
        box-shadow: 15px rgb(8, 57, 95);
    }
    
    /* POPULAR */
    
    .popular { 
        padding-block: 60px; 
        
    }
    
    .popular-list,
    .popular-list > li:not(:last-child) { margin-bottom: 30px; }
    
    .popular-card {
        position: relative;
        overflow: hidden;
        border-radius: var(--radius-25);
        height: 430px;
    }
    
    .popular-card .card-img { height: 100%; }
    
    .popular-card .card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .popular-card .btn{
        margin-inline: auto; 
        border-radius: 50px;
        background-color: #808080;
        outline: none;
        border: 1px solid #808080;
        font-weight: 600;
    }

    .popular .btn:hover{
        background-color: #184c91;
        border: 1px solid #184c91;
    }
    
    .popular-card .card-content {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background: white;
        border-radius: var(--radius-25);
        padding: 20px;
    }
    
    .popular-card .card-rating {
        background: rgb(8, 57, 95);
        color: white;
        position: absolute;
        top: 0;
        right: 25px;
        display: flex;
        align-items: center;
        gap: 1px;
        transform: translateY(-50%);
        padding: 6px 10px;
        border-radius: 20px;
        font-size: 14px;
    }
    
    .popular-card .card-subtitle {
        color: var(--blue-ncs);
        font-size: var(--fs-6);
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    
    .popular-card .card-title { margin-bottom: 5px; }
    
    .popular-card :is(.card-subtitle, .card-title) > a { color: inherit; }
    
    .popular .btn { margin-inline: auto; }
    
    /* hotelS */
    
    .hotel { padding-block: 60px; }
    
    .hotel-list { margin-bottom: 40px; }
    
    .hotel-list > li:not(:last-child) { margin-bottom: 30px; }
    
    .hotel-card {
        background: var(--cultured);
        overflow: hidden;
        border-radius: 15px;
    }
    
    .hotel-card .card-banner { height: 250px; }
    
    .hotel-card .card-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .hotel-card .card-content { padding: 30px 20px; }
    
    .hotel-card .card-title { margin-bottom: 15px; }
    
    .hotel-card .card-text {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    .card-meta-list {
        background: white;
        max-width: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 8px;
        box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
        border-radius: 50px;
    }
    
    .card-meta-item { position: relative; }

    .hotel-list .card-meta-list p{
        color: black;
    }
    
    .card-meta-item:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 4px;
        right: -1px;
        bottom: 4px;
        width: 1px;
        background: hsla(0, 0%, 0%, 0.3);
    }
    
    .meta-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-inline: 9px;
        color: var(--black-coral);
        font-size: var(--fs-8);
    }
    
    .meta-box > ion-icon {
        color: rgb(8, 57, 95);
        font-size: 13px;
    }
   
    .hotel-card .card-price {
        background: rgb(8, 57, 95);
        color: white;
        padding: 25px 20px;
        text-align: center;
    }
    
    .hotel-card .card-price .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px 15px;
        margin-bottom: 10px;
    }
    
    .hotel-card .card-price .reviews { font-size: var(--fs-5); }
    
    .hotel-card .card-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        font-size: 14px;
    }
    
    .hotel-card .card-rating ion-icon:last-child { color: hsl(0, 0%, 80%); }
    
    .hotel-card .price {
        font-size: var(--fs-2);
        font-family: var(--ff-montserrat);
        font-weight: var(--fw-800);
        margin-bottom: 20px;
    }
    
    .hotel-card .price span {
        font-size: var(--fs-7);
        font-weight: initial;
    }
    
    .hotel .btn { margin-inline: auto; }
    
    /* GALLERY */
    
    .gallery { padding-block: 60px; }
    
    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .gallery-image {
        width: 100%;
        height: 100%;
        border-radius: var(--radius-15);
        overflow: hidden;
    }
    
    .gallery-item:nth-child(3) { grid-area: 1 / 2 / 3 / 3; }
    
    .gallery-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .gallery .btn{
        margin-top: 35px;
        margin-inline: auto; 
    }

    /*reviews*/
    .review {
        background-color: rgba(128, 128, 128, 0.201);
        padding: 20px;
    }
    
    .rv-container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        height: auto;
    }
    
    .review h2 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
        color: rgb(8, 57, 95);
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .review-list {
        list-style-type: none;
        padding: 0;
        width: 350px;
        height: auto;
    }

    .review-card {
        background: white;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        border: 2px solid hsla(0, 1%, 43%, 0.5);
        box-shadow: 10px gray;
    }
    
    .review-card .card-title {
        margin-bottom: 10px;
        font-size: 18px;
        color: black;
        font-weight: 600;
    }
    
    .review-card .card-text {
        line-height: 1.6;
    }

    .review .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    /* Contact */
    
    .cta {
        background: gray;
        padding-block: 60px;
    }

    .cta .inq-title{
        margin-left: 350px;
    }
    
    .cta :is(.section-subtitle, .section-title, .section-text) { color: white; }
    
    .cta .section-text { font-size: var(--fs-5); }
    
    /* footer */
    
    .footer-top {
        background: rgb(8, 57, 95);
        padding-top: 25px;

        color: var(--gainsboro);
    }
    
    .footer-brand { margin-bottom: 30px; }
    
    
    .footer-brand .website-name{
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    .footer-brand .website-name2{
        color: white;
    }

    .footer-brand .logo { margin-bottom: 20px; }
    
    .footer-text {
        font-size: var(--fs-5);
        line-height: 1.7;
    }

    .footer-text a{
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

    .footer-text a:hover{
        color: rgba(79, 149, 203, 0.933);
    }
    
    .footer-contact { margin-bottom: 30px; }
    
    .contact-title {
        position: relative;
        font-family: var(--ff-montserrat);
        font-weight: var(--fw-500);
        margin-bottom: 30px;
    }
    
    .contact-title::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 50px;
        height: 2px;
        background: var(--bright-navy-blue);
    }
    
    .contact-text {
        font-size: var(--fs-5);
        margin-bottom: 15px;
        max-width: 200px;
    }
    
    .contact-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .contact-item ion-icon { --ionicon-stroke-width: 40px; }
    
    .contact-link,
    address {
        font-style: normal;
        color: var(--gainsboro);
        font-size: var(--fs-5);
    }
    
    .contact-link:is(:hover, :focus) { color: white; }
    
    .form-text {
        font-size: var(--fs-5);
        margin-bottom: 20px;
    }
    
    .footer-form .input-field {
        background: white;
        font-size: var(--fs-5);
        padding: 15px 20px;
        border-radius: 100px;
        margin-bottom: 10px;
    }

    .ft-social {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .ft-social .social-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .ft-social .social-list li {
        margin: 0 20px;
    }
    
    .ft-social .social-link {
        text-decoration: none;
        color: #ffffff;
    }
    
    .ft-social ion-icon {
        font-size: 18px;
    }
    
    .footer-form .btn { width: 100%; }
    
    .footer-bottom {
        background: #1c2e3b;
        padding-block: 20px;
        text-align: center;
    }
    
    .copyright {
        color: var(--gainsboro);
        font-size: var(--fs-5);
        margin-bottom: 10px;
    }
    
    .copyright a {
        color: inherit;
        display: inline-block;
    }
    
    .copyright a:is(:hover, :focus) { color: white; }
    
    .footer-bottom-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
    }
    
    .footer-bottom-list > li { position: relative; }
    
    .footer-bottom-list > li:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 3px;
        right: -10px;
        bottom: 3px;
        width: 1px;
        background: hsla(0, 0%, 100%, 0.2);
    }
    
    .footer-bottom-link {
        color: var(--gainsboro);
        font-size: var(--fs-7);
        transition: var(--transition);
    }
    
    .footer-bottom-link:is(:hover, :focus) { color: white; }
    
    /* GO TO TOP */
    .go-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        background: #3b79c9;
        color: white;
        display: grid;
        place-items: center;
        font-size: 18px;
        border-radius: 6px;
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
        opacity: 0;
        transform: translateY(10px);
        visibility: hidden;
        transition: var(--transition);
    }
    
    .go-top.active {
        opacity: 0.8;
        transform: translateY(0);
        visibility: visible;
    }
    
    .go-top:is(:hover, :focus) { opacity: 1; }
    

    /* responsive for larger than 580px screen */
    
    @media (min-width: 580px) {
    
        .container {
        max-width: 580px;
        margin-inline: auto;
        }
    
        .btn {
        --fs-5: 16px;
        --padding: 12px 30px;
        }
    
        section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
        text-align: center;
        }
    
        .section-text { margin-bottom: 40px; }
    
        .card-text { --fs-5: 15px; }

        .header { padding-top: 83px; }
    
        .helpline-box .icon-box { padding: 14px; }

        .search-btn { font-size: 30px; }
    
        .nav-open-btn { font-size: 40px; }
    
        .header .btn {
        --fs-5: 14px;
        --padding: 6px 20px;
        }

        .hero {
        min-height: 800px;
        padding-top: 85px;
        }
    
        .hero-text { --fs-5: 15px; }
    
        .btn-group { gap: 20px; }
    
        .cta-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 100px;
        justify-content: center;
        gap: 15px;
        
        }
    
        .cta-form .input-wrapper { margin-bottom: 0; }
    
        .cta-form .input-field { padding: 16px 20px; }
    
        .cta .btn {
        grid-column: span 2;
        margin-top: 20px;
        }
    
        .popular-card .card-content { right: auto; }
    
        .footer .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        }
    
        .footer-form { grid-column: span 2; }
    
        .footer-bottom { text-align: left; }
    
        .copyright { margin-bottom: 0; }
    
        .footer-bottom-list { justify-content: flex-end; }
    
    }

    /* responsive for larger than 768px screen */
    
    @media (min-width: 768px) {
    
        :root {
        --fs-5: 15px;
        }
    
        .container { max-width: 800px; }
    
        .section-text {
        max-width: 60ch;
        margin-inline: auto;
        }

        .social-list { gap: 10px; margin-top: 15px;}

        .popular-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 50px;
        }
    
        .popular-list > li:not(:last-child) { margin-bottom: 0; }
    
        .popular-card .card-content { right: 20px; }

        .hotel-list { margin-bottom: 50px; }
    
        .hotel-list > li:not(:last-child) { margin-bottom: 40px; }
    
        .hotel-card {
            display: grid;
            grid-template-columns: 1.3fr 1.5fr 1fr;
            background-color: hsla(208, 97%, 12%, 0.1);
            box-shadow: 0 12px 15px hsla(0, 0%, 0%, 0.1);
        }
    
        .hotel-card .card-banner { height: 100%; }
    
        .hotel-card .card-content { padding: 40px; }
    
        .hotel-card .card-price {
        display: grid;
        place-content: center;
        }
    
        .hotel-card .card-price .wrapper { margin-bottom: 15px; }
    
        .gallery { padding-bottom: calc(var(--section-padding * 2)); }
    
        .gallery-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        }
    
        .gallery-image { border-radius: var(--radius-25); }

        .cta .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        }
    
        .cta-content { width: calc(100% - 225px); }
    
        .cta .section-text { margin-inline: 0; }

        .form-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        }
    
        .footer-form .input-field { margin-bottom: 0; }
    
        .footer-form .btn { width: max-content; }
    
    }
    
    
    /* responsive for larger than 992px screen */
    
    @media (min-width: 992px) {
    
        .container { max-width: 1050px; }
    
        .header.active .header-top {
        position: unset;
        background: unset;
        }
    
        .nav-open-btn,
        .navbar-top { display: none; }
    
        .header-bottom { border-bottom: none; }
    
        .header.active .header-bottom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        color: var(--onyx);
        box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
        transition: var(--transition);
        }
    
        .header-bottom .container { padding-block: 0; }
    
        .header .navbar { all: unset; }
    
        .navbar-list {
        border-top: none;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
        .navbar-list li { border-bottom: none; }
    
        .navbar-link {
        color: white;
        --fs-4: 16px;
        font-weight: unset;
        text-transform: uppercase;
        padding: 20px 15px;
        }
    
        .header.active .navbar-link { color: var(--onyx); }
    
        .header.active .navbar-link:is(:hover, :focus) { color: var(--bright-navy-blue); }
    
        .header.active .social-link {
        color: var(--onyx);
        border-color: hsla(0, 0%, 0%, 0.15);
        }
    
        .overlay { display: none; }
    
        .hero .container { max-width: 740px; }

        .cta-form { grid-template-columns: repeat(5, 1fr); }
    
        .cta .btn {
        --padding: 15px;
        grid-column: unset;
        margin-top: 0;
        }
    
        .popular-list { grid-template-columns: repeat(3, 1fr); }
    
        .meta-box { --fs-8: 13px; }
    
        .meta-box > ion-icon { font-size: 15px; }
    
        .cta .section-title { max-width: 25ch; }

        .footer-top .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        }
    
        .footer-form { grid-column: unset; }
    
        .form-wrapper { flex-direction: column; }
    
        .footer-form .btn { width: 100%; }
    
    }
    
    /* responsive for larger than 1200px screen */
    
    @media (min-width: 1200px) {

        :root {
    
        --section-padding: 100px;
    
        }
    
        .container { max-width: 1180px; }
    
    }
